

body {
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
  
  text-decoration: none;
  background-color: black;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  overflow-x: hidden;
}
.fade {
  transition: all 300ms linear 700ms;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

.conten{
position:relative;padding: 15% 0 0;
}
h1, h3{
color: white;
  font-weight: 800;
  letter-spacing: 0.075em;
  line-height: 1em;
 
  text-transform: uppercase;
}
h3{
cursor: default;
font-size: 1.2em;}
a:focus,
a:hover{
text-decoration: none;
}
.iconki{
font-size: 1.9em;}
.moe {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
		  }
		  
   h1{
  cursor: pointer;
  padding-bottom: 8%;
  color: white;
  font-size: 3.4em;
  }
  
	.myname hr.grow{
	width: 1.5em;
    border: none; /* Убираем границу */
    background-color: white; /* Цвет линии */
    color: white; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
	-webkit-transition: width 1s ease-out; 
	-moz-transition: width 1s ease-out;
    transition: width 1s  ease-out;
	-o-transition: width 1s  ease-out;
   }
   
   @media (max-width: 768px) {
   
   .conten{position:relative;padding: 30% 0 0;}
  h1{padding-bottom: 2%;font-size:2.8em;}
}

.myname:hover{cursor:pointer;}
.myname:hover hr.grow{
 width: 5.0em;
}
.loader {
	display:block;
	background-color: black;
	left: 0%;
	top: 0%;
	width:100%;
	height: 100%;
	position: fixed;
 z-index: 50;
}
